html, body {
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  background: url("../Images/About Me Background.jpg") lightgray 50% / cover no-repeat;
}

h1{
  font-family: "dystopian", sans-serif; 
  font-weight: 900; 
  font-style: normal;
  font-size: 70px;
}

h2{
  font-family: "dystopian", sans-serif; 
  font-weight: 700; 
  font-style: normal;
  font-size: 25px;
  margin: 0;
}

p {
  font-family: "dystopian", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 0.737rem + 0.726vw, 1.563rem);
  background: linear-gradient(92deg, #83001c 5.95%, #24004D 21.71%, #24004D 65.25%, #83001c 80.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 0px rgba(124, 112, 255, 0.4), -2px -2px 0px rgba(255, 112, 112, 0.4);
}

button {
  background: linear-gradient(186deg, rgba(251, 255, 180, 0.66) 4.68%, rgba(249, 237, 114, 0.66) 51.38%, rgba(255, 204, 0, 0.66) 82.67%, rgba(253, 32, 228, 0.66) 99.48%), linear-gradient(180deg, #ffc89b 73.75%, #F09 100.75%);
  width: 175px;
  height: 39px;
  font-family: "source-code-pro", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  border-radius: 17px 17px 17px 25px;
  align-self: flex-start;
  color: #350072;
  filter: drop-shadow(1px 1px 0px #5549ff80) drop-shadow(-1px -1px 0px rgba(255, 72, 72, 0.5));
  cursor: pointer;
}

section{
  margin: 50px 0 50px 100px;
}

.nav-text-container{
  width: 70px; 
  position: relative;
  display: inline-block;
  height: 27px;
}

.navtext {
  position: absolute;
  top: 1px;
  right: 1px;
}

.nav-one.nav-one {
  z-index: 3;
  color: #f2593d;
  opacity: 0.5;
  right: 3px;
}

.nav-two.nav-two {
  z-index: 2;
}

.nav-three.nav-three {
  z-index: 1;
  font-size: 22px;
  color: blue;
  opacity: 0.1;
  mix-blend-mode: multiply;
  top: -5px;
  right: -10px;
}

nav {
  background-image: url('../Images/Landing Page/Navbar Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 10px;
  box-shadow: 0px 2px 3px 0px rgba(85, 0, 255, 0.639);
  border: 3px solid rgba(54, 0, 163, 0.639);
  height: 60px;
}

.navbar-logo {
  width: 60px;
  padding-left: 35px;
}

.navbar-links {
  display: flex;
  justify-content: flex-end; 
  gap: 80px; 
  flex-grow: 1;
  padding-right: 20px;
}

.navbar-links a {
  color: #FAFF9B;
  padding: 0;       
  margin: 0;
  font-family: "source-code-pro", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  text-decoration: none;
  display: flex;     
  align-items: center;
}

.about {
  position: relative;
  left: 30px;  
}

.text-stack {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 100%;
  margin-bottom: 75px;
}

.title {
  position: absolute;
  margin-bottom: 100px;
  filter: saturate(1.6);
  width: 100%;
}


.text-one {
  z-index: 4;
  background: linear-gradient(180deg, #ffb84e 10%, rgb(252, 255, 198) 50%, rgb(255, 55, 0) 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: hard-light;
}

.text-two {
  z-index: 3;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #000;
  background: linear-gradient(180deg, #FAFF9B 50%, #F09 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-three {
  z-index: 2;
  -webkit-text-stroke-width: 2.93px;
  -webkit-text-stroke-color: #972F9A;
  background: url("../Images/Landing Page/Shiny.jpg") lightgray 50% / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: hue;
  left: 5px;
  top: 3px;
}

.text-four {
  z-index: 1;
  opacity: 0.4;
  background: url("../Images/Landing Page/Shiny.jpg") lightgray 50% / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
  left: 5px;
  top: 3px;
  display: none;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 20px;
}

.header-text{
 width: 750px;
}

.header-graphic{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.header-image{
  width: 260px;
  margin-bottom: -20px;
  z-index: 50;
}

.my-name-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
}

.my-name{
  font-size: 24px;
  z-index: 20;
  background: var(--yellowgradient, linear-gradient(180deg, #feffae 60.75%, rgb(255, 0, 55) 130.75%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.name-one{
  background: var(--yellowgradient, linear-gradient(180deg, #feffae 60.75%, rgb(255, 0, 55) 130.75%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: hard-light;
}

.name-two{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  background: var(--yellowgradient, linear-gradient(180deg, #feffae 60.75%, rgb(255, 0, 55) 130.75%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-three{
  -webkit-text-stroke-width: 2.93px;
  -webkit-text-stroke-color: #972F9A;
  background: url("../Images/Landing Page/Shiny.jpg") rgb(0, 0, 0) 50% / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: hue;
  margin-top: 3px;
  margin-left: 5px;
}

.name-four{
  opacity: 0.4;
  background: url("../Images/Landing Page/Shiny.jpg") lightgray 50% / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
  margin-top: 3px;
  margin-left: 5px;
}



.trial-tippy-top{
  width: 220px;
  height: 50px;
  background: url("../Images/Landing Page/oilmark.jpg");
  mix-blend-mode: overlay;
  opacity: 0.34;
  position:absolute;
  border-radius: 17px;
  z-index: 14;
}

.trial-top {
  width: 220px;
  height: 50px;
  border-radius: 17px;
  position: absolute;
  z-index: 13;
  box-sizing: border-box;
  opacity: 0.4;
  background: linear-gradient(45deg, #6E2FFF, #FE2DFF, #FF2895, #8C319E, #5E20FF);
  padding: 4px; 
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 2px solid rgb(48, 0, 35);
}

.trial-middle{
  position:absolute;
  width: 220px;
  height: 50px;
  border-radius: 17px;
  background: linear-gradient(135deg, #f948ff 0%, #ff48d4 60%, #C033FF 80%);
  z-index: 12;
  mix-blend-mode:color-burn;
}

.trial-bottom{
  position:absolute;
  width: 220px;
  height: 50px;
  border-radius: 17px;
  background: linear-gradient(145deg, #F948FF 0%, #F948FF 60%, #C033FF 80%);
  z-index: 12;
}

.details-tab{
  height: 90px;
}

.details-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.details-text{
  z-index: 25;
}

.details-container p{
  z-index: 20;
  margin: 5px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.details-text p {
  display: flex;
  justify-content: space-between;
  width: 195px; /* Adjust if needed */
  margin: 5px 0;
}
.right-text {
  text-align: right;
}

.referees-title,
.tools-title,
.education-title {
  margin-top: 70px;
  margin-bottom: 105px;
}

.toolkit-lists{
  display: flex;
  gap: 485px;
}

footer {
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 50px 100px;
}

.footer-icons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icon{
  width: 42px;
  padding-bottom: 5px;
}

.linkedin{
  width: 27px;
}

.icon-button {
  background-color: transparent;
  border-radius: 50%;         
  width: 50px;
  height: 50px;
  display: flex;              
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

[data-aos="blend-safe-fade"] {
  opacity: 0;
  transition: opacity 1s ease-out;
}

[data-aos="blend-safe-fade"].aos-animate {
  opacity: 1;
}

/* === Extra Large Desktops (4K and up) === */
@media (min-width: 1600px) {
  .header-text{
    width: 1050px;
  }

  .footer-container{
    margin-top: 200px;
  }
}

/* === Medium Desktops / Small Laptops === */
@media (max-width: 1280px) {
  
}

/* === Tablets (portrait & landscape) === */
@media (max-width: 1024px) {
  header{
    gap: 60px;
  }

  .header-text{
    width: 600px;
  }

  .toolkit-lists{
    gap: 330px;
    margin-top: 20px;
  }

  .education-title{
    margin-bottom: 100px;
  }

  .referees-title{
    margin-bottom: 100px;
  }

  .footer-container{
    margin-top: 200px;
  }
}

/* === Mobile Landscape / Phablets === */
@media (max-width: 768px) {
  header{
    gap: 18px;
  }

  .toolkit-lists{
    gap: 280px;
  }
}

/* === Mobile Portrait === */
@media (max-width: 655px) {
  h1{
    font-size: 67px;
  }
  header{
    flex-direction: column;
  }

  p{
    text-align: center;
  }

  section{
    margin: 50px 0 50px 0
  }

  .text-stack{
    width: 100%;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 110px;
  }
  
  .text-stack .title{
    width: 100%;
  }

  .header-text p{
    margin-left: 50px;
    margin-right: 50px;
  }

  .toolkit-lists{
    margin-left: 50px;
    margin-right: 50px;
    gap: 100px;
  }

  .toolkit-lists p{
    width: 200px;
  }

}

@media (max-width: 515px){
.footer-container{
    flex-direction: column;
    gap: 40px;
  }

  .top-footer-button{
    align-self: center;
  }
}

/* === Tiny Devices === */
@media (max-width: 515px) {
  .navbar-logo{
    display: none;
  }

  .navbar-links {
  justify-content: flex-start;
  gap: 50px;
}

  h1{
    font-size: 50px;
  }

  header{
    gap: 80px;
    margin-top: 50px;
  }

  section{
    margin: 75px 0 75px 0
  }

  .text-stack{
    margin-bottom: 70px;
  }

  .header-text p{
    margin-left: 130px;
    margin-right: 130px;
  }

  .toolkit-lists{
    gap: 40px;
  }

  .toolkit-lists p{
    width: 200px;
  }

  @media (max-width: 360px) {
  .navbar-links {
    justify-content: flex-start;
    gap: 50px;
  }
}
}

