body{
  margin: 0;
  padding: 0;
  background: url("../Images/Project Background.png") lightgray 50% / cover no-repeat;
}

h1{
  font-family: "dystopian", sans-serif; 
  font-weight: 900; 
  font-style: normal;
  font-size: 70px;
}

h2{
  font-family: "dystopian", sans-serif; 
  font-weight: 700; 
  font-style: normal;
  font-size: 25px;
  margin: 0;
}

p{
  font-family: "dystopian", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

button{
  background: linear-gradient(186deg, rgba(251, 255, 180, 0.66) 4.68%, rgba(249, 237, 114, 0.66) 51.38%, rgba(255, 204, 0, 0.66) 82.67%, rgba(253, 32, 228, 0.66) 99.48%), linear-gradient(180deg, #FAFF9B 73.75%, #F09 120.75%);
  padding: 5.462px 19.118px;
  font-family: "source-code-pro", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  border-radius: 17px 17px 17px 25px;
}

.text-stack {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 100px;
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 100px;
  text-align: center;
}

.text-one {
  z-index: 4;
  background: linear-gradient(180deg, #FAFF9B 50%, #F09 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: hard-light;
}

.text-two {
  z-index: 3;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: #000;
  background: linear-gradient(180deg, #FAFF9B 50%, #F09 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-three {
  z-index: 2;
  -webkit-text-stroke-width: 2.93px;
  -webkit-text-stroke-color: #972F9A;
  background: url("../Images/Landing Page/Shiny.jpg") lightgray 50% / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: hue;
  transform: translate(-49%, 1px); /* right and down */
  left: 50%;
  position: absolute;
  top: 0;
}

.text-four {
  z-index: 1;
  opacity: 0.4;
  background: url("../Images/Landing Page/Shiny.jpg") lightgray 50% / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
  transform: translate(-51%, -1px); /* left and up */
  left: 50%;
  position: absolute;
  top: 0;
}

nav{
  background-color: #B44CFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.41);
  border: 3px solid #000;
  height: 60px;
}

.navbar-logo{
  width: 60px;
  padding-left: 5px;
}

.navbar-links{
  display: flex;
  justify-content: space-around;
}

.navbar-links a{
  color: #FAFF9B;
  padding: 0px 20px 0px 20px;
  font-family: "source-code-pro", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-wrapper{
  align-self: flex-end;
  margin: 20px;
}

.ardrie-image{
  margin-top: 100px;
  width: 200px;
}

main{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);   
  gap: 60px; 
  max-width: 400px; 
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  
}

.tab{
  background: linear-gradient(148deg, #200405 47.85%, #DD00A6 125.64%), #000;
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "dystopian", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}

.gradient-text {
  background: var(--yellowgradient, linear-gradient(180deg, #FAFF9B 60.75%, #F09 100.75%));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer{
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
}