html, body {
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  background: url("../Images/Project Background.png") lightgray 50% / cover no-repeat;
}

h1{
  font-family: "dystopian", sans-serif; 
  font-weight: 900; 
  font-style: normal;
  font-size: 70px;
  margin-top: 30px;
}

h2{
  font-family: "dystopian", sans-serif; 
  font-weight: 700; 
  font-style: normal;
  font-size: 25px;
  margin: 0;
}

p {
  font-family: "dystopian", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background: linear-gradient(92deg, #83001c 5.95%, #24004D 21.71%, #24004D 65.25%, #83001c 80.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 0px rgba(124, 112, 255, 0.4), -2px -2px 0px rgba(255, 112, 112, 0.4);
}

button {
  background: linear-gradient(186deg, rgba(251, 255, 180, 0.66) 4.68%, rgba(249, 237, 114, 0.66) 51.38%, rgba(255, 204, 0, 0.66) 82.67%, rgba(253, 32, 228, 0.66) 99.48%), linear-gradient(180deg, #FAFF9B 73.75%, #F09 100.75%);
  width: 175px;
  height: 39px;
  font-family: "source-code-pro", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  border-radius: 17px 17px 17px 25px;
  align-self: flex-start;
  color: #350072;
}

.text-stack {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 90px;
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  filter: saturate(1.6);
  margin-top: 0;
  width: 100%;
}

.text-one {
  z-index: 4;
  background: linear-gradient(180deg, #ffb84e 10%, rgb(252, 255, 198) 50%, rgb(255, 55, 0) 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: hard-light;
}

.text-two {
  z-index: 3;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #000;
  background: linear-gradient(180deg, #FAFF9B 50%, #F09 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-three {
  z-index: 2;
  -webkit-text-stroke-width: 2.93px;
  -webkit-text-stroke-color: #972F9A;
  background: url("../Images/Landing Page/Shiny.jpg") lightgray 50% / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: hue;
  transform: translate(-49%, 1px); 
  left: 50%;
  position: absolute;
  top: 0;
}

.text-four {
  z-index: 1;
  opacity: 0.4;
  background: url("../Images/Landing Page/Shiny.jpg") lightgray 50% / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
  transform: translate(-51%, -1px); 
  left: 50%;
  position: absolute;
  top: 0;
}

.nav-text-container{
  width: 70px; 
  position: relative;
  display: inline-block;
  height: 27px;
}

.navtext {
  position: absolute;
  top: 1px;
  right: 1px;
}

.nav-one.nav-one {
  z-index: 3;
  color: #f2593d;
  opacity: 0.7;
  right: 3px;
}

.nav-two.nav-two {
  z-index: 2;
}

.nav-three.nav-three {
  z-index: 1;
  font-size: 22px;
  color: blue;
  opacity: 0.1;
  mix-blend-mode: multiply;
  top: -5px;
  right: -10px;
}

nav {
  background-image: url('../Images/Landing Page/Navbar Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 10px;
  box-shadow: 0px 2px 3px 0px rgba(85, 0, 255, 0.639);
  border: 3px solid rgba(54, 0, 163, 0.639);
  height: 60px;
}

.navbar-logo {
  width: 60px;
  padding-left: 35px;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  gap: 80px;
  flex-grow: 1;
  padding-right: 20px;
}

.navbar-links a {
  color: #FAFF9B;
  padding: 0;         
  margin: 0;
  font-family: "source-code-pro", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  text-decoration: none;
  display: flex;     
  align-items: center;
}

.about {
  position: relative;
  left: 20px; 
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subheading-stack{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.subheading{
  position: absolute;
  background: var(--Typegradient, linear-gradient(92deg, #83001c 5.95%, #24004D 21.71%, #24004D 65.25%, #83001c 80.64%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-one{
  mix-blend-mode: overlay;
  opacity: 0.2;
  font-size: 26px;
}

.sub-two{
 
}

.sub-three{
  font-size: 30px;
  mix-blend-mode: overlay;
  opacity: 0.1;
  
}

.dropdown-wrapper{
  align-self: flex-end;
  margin: 20px 20px 0 0;;
}

.ardrie-image{
  margin-top: 0;
  width: 210px;
  position: relative;
  filter: drop-shadow(0 0 40px #ff52dc);
  filter:drop-shadow(0 0 5px #ff52dc);
  filter:drop-shadow(0 0 10px #ff52dc);
  filter:drop-shadow(0 0 20px #ff52dc);
  filter:drop-shadow(0 0 30px #ff52dc);
}

main{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);   
  row-gap: 60px; 
  column-gap: 80px;
  max-width: 400px; 
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 65px;
  
}

.tab-container{
  position: relative;
  width: 220px;
  height: 80px;
}

.tab{
  background: transparent;
  width: 220px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "dystopian", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  position: absolute;
  z-index: 15;
  border-radius: 17px;
 box-shadow: #2e01a1 1px 1px 1px 0px;
  border: 3px solid black;
}

.trial-tippy-top{
  width: 220px;
  height: 80px;
  background: url("../Images/Landing Page/oilmark.jpg");
  mix-blend-mode: overlay;
  opacity: 0.34;
  position:absolute;
  border-radius: 17px;
  z-index: 14;
}

.trial-top {
  width: 220px;
  height: 80px;
  border-radius: 17px;
  position: absolute;
  z-index: 13;
  box-sizing: border-box;
  opacity: 1;

  
  background: linear-gradient(45deg, #6E2FFF, #FE2DFF, #FF2895, #8C319E, #5E20FF);
  padding: 7px; 

  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;

  background-clip: padding-box, border-box;
  background-origin: border-box;
}

.trial-middle{
  position:absolute;
  width: 220px;
  height: 80px;
  border-radius: 17px;
  background: linear-gradient(135deg, #f948ff 0%, #ff48d4 60%, #C033FF 80%);
  z-index: 12;
  mix-blend-mode:color-burn;
}

.trial-bottom{
  position:absolute;
  width: 220px;
  height: 80px;
  border-radius: 17px;
  background: linear-gradient(145deg, #F948FF 0%, #F948FF 60%, #C033FF 80%);
  z-index: 12;

}

.gradient-text {
  background: var(--yellowgradient, linear-gradient(180deg, #faffae 60.75%, #F09 140.75%));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  -webkit-text-stroke: 0.2px black;
  filter: saturate(1.6);
}

.gradient-text-2{
  -webkit-text-stroke: 0.8px black;
  padding-right: 2px;
  padding-top: 1px;
  mix-blend-mode: darken;
}

footer {
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 50px 100px;
}

.footer-icons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icon{
  width: 42px;
  padding-bottom: 5px;
}

.linkedin{
  width: 27px;
}

.icon-button {
  background-color: transparent;
  border-radius: 50%;         
  width: 50px;
  height: 50px;
  display: flex;              
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

/* === Extra Large Desktops (4K and up) === */
@media (min-width: 1600px) {
  
}

/* === Medium Desktops / Small Laptops === */
@media (max-width: 1280px) {
  
}

/* === Tablets (portrait & landscape) === */
@media (max-width: 1024px) {
  
}

/* === Mobile Landscape / Phablets === */
@media (max-width: 768px) {
  main{
    row-gap: 40px; 
    column-gap: 25px;
  }
}

/* === Mobile Portrait === */
@media (max-width: 600px) {
  main{
    column-gap: 35px;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr);  
  }

  .ardrie-image{
    width: 190px;
  }

}

/* === Tiny Devices === */
@media (max-width: 360px) {
  .navbar-logo{
    display: none;
  }

  h1{
    font-size: 43px;
  }

  h2{
    font-size: 20px;
  }

  .tab-container,
  .tab,
  .trial-tippy-top,
  .trial-top,
  .trial-middle,
  .trial-bottom {
    width: 150px; 
    height: 80px;
  }

  .gradient-text,
  .gradient-text-2{
    font-size: 20px;
  }

  main{
    column-gap: 10px;
  }

  @media (max-width: 360px) {
  .dropdown-wrapper{
    align-self: center;
    margin: 30px 0 0 0;
  }
  .ardrie-image{
    margin-top: 30px;
  }
  .text-stack{
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .tab-container,
  .tab,
  .trial-tippy-top,
  .trial-top,
  .trial-middle,
  .trial-bottom {
    width: 150px;
    height: 70px;
  }

  main {
    column-gap: 0;
    row-gap: 42px;
    justify-content: center;
    place-items: center;
  }

  .tab {
    font-size: 16px;
  }
}
}