body{
  margin: 0;
  padding: 0;
  background: linear-gradient(187deg, #D470FF 4.25%, #EE42FE 121.46%);
}

h1{
  font-family: "dystopian", sans-serif; 
  font-weight: 900; 
  font-style: normal;
  font-size: 70px;
}

.text-stack {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 200%;
}

.title{
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 100px;
}

.text-one{
  z-index: 4;
  background: linear-gradient(180deg, #FAFF9B 50%, #F09 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: hard-light;
}

.text-two{
  z-index: 3;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: #000;
  background: linear-gradient(180deg, #FAFF9B 50%, #F09 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-three{
  z-index: 2; 
  -webkit-text-stroke-width: 2.93px;
  -webkit-text-stroke-color: #972F9A;
  background: url("../Images/Landing Page/Shiny.jpg") lightgray 50% / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: hue;
  left: 5px;
  top: 3px;
}

.text-four{
  z-index: 1;
  opacity: 0.4;
  background: url("../Images/Landing Page/Shiny.jpg") lightgray 50% / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
  left: 5px;
  top: 3px;
}

h2{
  font-family: "dystopian", sans-serif; 
  font-weight: 700; 
  font-style: normal;
  font-size: 25px;
  margin: 0;
}

p{
  font-family: "dystopian", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

button{
  background: linear-gradient(186deg, rgba(251, 255, 180, 0.66) 4.68%, rgba(249, 237, 114, 0.66) 51.38%, rgba(255, 204, 0, 0.66) 82.67%, rgba(253, 32, 228, 0.66) 99.48%), linear-gradient(180deg, #FAFF9B 73.75%, #F09 120.75%);
  padding: 5.462px 19.118px;
  font-family: "source-code-pro", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  border-radius: 17px 17px 17px 25px;
}

nav{
  background-color: #B44CFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.41);
  border: 3px solid #000;
  height: 60px;
}

.navbar-logo{
  width: 60px;
  padding-left: 5px;
}

.navbar-links{
  display: flex;
  justify-content: space-around;
}

.navbar-links a{
  color: #FAFF9B;
  padding: 0px 20px 0px 20px;
  font-family: "source-code-pro", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;
  margin-top: 80px;
}

.headers h1{
  margin: 0;
}

.landing-image{

}

.skills{
  margin-top: 130px;
}

.skills-header{
  margin: 0 0 100px 0;
}

.skills-description{
  display: inline-block;
  align-items: center;
}

.skills-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 285px;
}

.skills-icons{
  width: 350px;
}

.featured-projects{
  margin-top: 130px;
  text-align: center;
}

.featured-text-container{
  margin-bottom: 80px;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.featured-text-stack {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.featured-text-stack .title {
  width: 100%;
}

.project-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.project-window{
  display: inline-block;
  width: 300px;
}

.project-image-container{
  height: 150px;
  margin: 50px 0 70px 0;
}

.project-image{
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.image-one{
  object-fit: cover;
}

footer{
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
}